<h1 class="title"><%= @task.title %></h1>

 <h3><%= @task.details %></h3>

<p><%= link_to "Edit task", edit_path %></p>

<p><i class="fas fa-undo-alt"></i><%= link_to "Back to tasks list", tasks_path %></p>
