<h1 class="title"><i class="far fa-play-circle"></i><%= @task.title %></h1>

 <h3><i class="fas fa-info-circle"></i><%= @task.details %></h3>

<p><i class="far fa-edit"></i><%= link_to "Edit task", edit_path %></p>

<p><i class="fas fa-undo-alt"></i><%= link_to "Back to tasks list", tasks_path %></p>
